body {
  font-family: google sans, Helvetica, sans-serif;
  margin: 150px;
}
.me {
  width: 150px;
  border-radius: 5px;
  transition: 0.3s;


}
.me:hover{
  transition: 0.3s;
  box-shadow: #1b263b 2px 2px 15px;
  cursor: pointer;
  transform: scale(1.05);
}
.Card {
  background: #415a77;
  margin: 0, auto;
  padding: 20px;
  display: flex;
  width: 450px;
  justify-content: space-around;
  text-align: center;
  border-bottom: 6px solid #778da9;
}
.txt {
  color: #caf0f8;
}
.chat {
  background: white;
  border: 1px solid black;
  padding: 10px;
  color: black;
  text-decoration: none;
  font-family: google sans, Helvetica, sans-serif;
}
.chat:hover {
  cursor: pointer;
  transition: 0.2s;
  box-shadow: #000000 3px 3px;
  transform: translate(-3px, -3px);
}